.container {
  padding: 15px;
}

/* Navbar & Footer */
.note {
  font-size: 0.8rem;
}

.link-style {
  font-size: 20px;
  color: black;
}

.link-jon {
  color: black;
}

.link-style:hover .link-jon:hover {
  color: rgb(0, 251, 255);
}

.link-icon {
  margin: 15px;
}

.copyright {
  font-size: 0.9em;
}

footer {
  padding: 25px 0px;
}

footer p {
  margin-top: 15px;
}

/* Home Page */

.title {
  font-size: 28px;
}

.about-photo {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  clip-path: circle(110px at center);
}

.paragraph {
  margin: 25px 0;
}

.section {
  padding: 25px 0px;
}

.about {
  margin: 0 auto;
  max-width: 460px;
}
