.container {
  padding: 15px;
}

.note {
  font-size: 0.8rem;
}

.link-style {
  font-size: 20px;
  color: black;
}

.link-jon {
  color: black;
}

.link-style:hover .link-jon:hover {
  color: rgb(0, 251, 255);
}

.link-icon {
  margin: 10px;
}

footer {
  padding: 42px 0px;
}

footer p {
  margin-top: 20px;
}
